#experiment {
    display: none;
}

#items {
    position: relative;
}

.quota {
    font-size: inherit !important;
    background-color: #3276b1;
}

.quota-low {
    background-color: #d2322d;
}

.bid {
    background-color: #d2322d;
}